<% unless @boards.nil? %>
  <% @boards.each do |board| %>
    <div>
      <%= link_to board.name, board %>
      <%= board.pins.size %> Pins
      <% if member_signed_in? %>
        <%= link_to 'Edit', edit_board_path(board) %>
        <%= link_to 'Destroy', board, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
<% end %>
