<p> Save all the stuff you love (recipes! articles! travel ideas!) right here on Pinteresting. </p>
<%= link_to "Join Us", new_member_registration_path %>
<%= link_to "Log In", new_member_session_path %>