<nav class="navbar navbar-default">
  <div class="container">
    <% if member_signed_in? %>
      <%= link_to image_tag("/assets/images/pinterest_nav.png", alt: "Pinteresting"), dashboard_path %>
      <%= link_to edit_member_registration_path do %>
        <span class="glyphicon glyphicon-cog"></span>
        Settings
      <% end %>
      <%= link_to "Log Out", destroy_member_session_path, method: :delete %>
    <% else %>
      <%= link_to image_tag("/assets/images/pinterest_nav.png", alt: "Pinteresting"), root_path %>
    <% end %>
  </div>
</nav>
